<h1>New Blog</h1>
    <%= form_for(@blog, url: blogs_path) do |f| %>

      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>
      <%= f.label :Thumbnail_URL %>
      <%= f.url_field :thumbnail, class: 'form-control' %>
      <%= f.label :Body %>
      <%= f.text_area :text, class: 'form-control' %>

     

      <%= f.submit "Create my blog", class: "btn btn-primary" %>
    <% end %>
