<!DOCTYPE html>
<html>

<head>
    <style>
        img {
            border: 1px solid #ddd;
            border-radius: 4px;
            padding: 5px;
            width: 150px;
            height: 150px;
        }

        img:hover {
            box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
            width: 100%;
            height: 100%;
        }
    </style>
</head>

<body>
    <h1>ALBUM 4</h1>
    <table style="width:100%">
        <tr >
            <td width="33%">
                <a >
                    <%= image_tag("img/img_10")%>
                </a>
            </td>
            <td width="33%">
                <a >
                    <%= image_tag("img/img_11")%>
                </a>
            </td>
            <td width="33%">
                <a>
                    <%= image_tag("img/img_12")%>
                </a>
            </td>
        </tr>
        <tr>
            <% (9..11).each do |index|%>
                <td width="33%">Creator: <%= @images[index].own_user%></td>
                <% end%>

        </tr>
        <tr>
            <% (9..11).each do |index|%>
                <td width="33%">View: <%= @images[index].total_view%></td>
                <% end%>
        </tr>
    </table>
</body>
</html>