<html lang="en" class="no-js">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css'>
    <!-- Resource style -->
    <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
            <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

                <title>EC - Lab 01</title>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="#">EC-LAB01</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
               <%= active_link_to 'Home', '/home', class: 'nav-link' %>
                </li>
                <li class="nav-item ">
                    <%= active_link_to 'Albums', '/albums', class: 'nav-link' %>
                </li>
                <li class="nav-item ">
                    <%= active_link_to 'About', '/about', class: 'nav-link' %>
                </li>
                <li class="nav-item ">
                    <%= active_link_to 'Blog', '/blogs', class: 'nav-link' %>
                </li>
            </ul>
            <ul class="navbar-nav">
            <% if logged_in? %>
            <div class="btn-group">
            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              My Account
            </button>
            <div class="dropdown-menu dropdown-menu-right">
            <%= link_to "Profile", current_user,class: 'dropdown-item'%>
            <%= link_to "Settings", '#', class: 'dropdown-item' %>
            <%= link_to "Add Blog", new_blog_path,class: 'dropdown-item' %>
            <div class="dropdown-divider"></div>
              <%= link_to "Log out", logout_path, method: :delete,class: 'dropdown-item' %>
            </div>
          <% else %>
          <li class="nav-item "><%= link_to "Log in", login_path,class: "btn btn-info"%></li>
          <% end %>
            </ul>
        </div>
    </nav>
    <div class="container-fluid">
    <div class="row">



      <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar offcanvas" id="sidebar">
        <ul class="nav nav-pills flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="#">Overview <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Reports</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Analytics</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Export</a>
          </li>
        </ul>

        <ul class="nav nav-pills flex-column">
          <li class="nav-item">
            <a class="nav-link" href="#">Nav item</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Nav item again</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">One more nav</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Another nav item</a>
          </li>
        </ul>

        <ul class="nav nav-pills flex-column">
          <li class="nav-item">
            <a class="nav-link" href="#">Nav item again</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">One more nav</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Another nav item</a>
          </li>
        </ul>
      </nav>

      <main class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main">
       <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>" role="alert"><%= message %></div>
       <% end %>
      
      <%= yield %>
      </main>
    </div>
  </div>
</body>