
<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag('app/assets/javascripts/welcome/main.js') %>
    <%= javascript_include_tag('app/assets/javascripts/welcome/modernizr.js') %>
  </head>

  <body>
  <head>
    <%= render :partial=>"layouts/header"%>
  </head>
  <main>

    <!-- content -->
    <%= yield %>

  </main>
  <!-- <footer>
    <%= render :partial=>"layouts/sidebar"%>
  </footer>
     -->
  </body>
</html>
